---
import Section from "@/components/Section.astro"

import { basics } from "@/cv"
const { summary } = basics;
---

<Section title="Sobre mí">
  <p>{summary}</p>
</Section>

<style>
  p {
    color: #60637a;
    font-weight: 400;
    font-size: 14px;
  }
</style>
