---
import Section from "@/components/Section.astro";

import { skills } from "@/cv";
---

<Section title="Skills">
  <ul>
    {
      skills.map(({ name }) => (
        <li>
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>
<style>
  ul {
    display: inline-flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  li {
    font-family: "Monaspace Argon";
    font-size: 0.75rem;
    font-weight: 400;
    border-radius: 0.5rem;
    background-color: #f1f1f1;
    color: #030712;
    padding: 0.2rem 0.6rem;
  }
</style>
