---
import Layout from "@/layouts/Layout.astro";

import KeyboardManager from "@/components/KeyboardManager.astro";
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";

import { basics } from "@/cv";
const { name } = basics;
---

<Layout title=`${name}`>
	<main>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
		<Skills />
	</main>
	<KeyboardManager />
</Layout>

<style>
	main {
		padding: 2rem;
		margin: 0 auto;
		width: 100%;
	}

	@media (min-width: 640px) {
		main {
			padding: 4rem;
		}
	}
</style>
