<dialog open><p>esto es un ejemplo</p></dialog>

<footer class="no-print">
  Pulsa <kbd>ctrl</kbd> + <kbd>K</kbd> para abrir la paleta de comandos.
</footer>

<style>
  footer {
    font-weight: 400;
    background: #fff;
    color: #030712;
    border-top: 0.063rem solid #eee;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    display: none;

    view-timeline-name: --revealing;
    view-timeline-axis: block;

    animation: linear 0.3s fadeIn;
    animation-timeline: --revealing;
    animation-range: entry 100% cover 10%;
  }

  kbd {
    font-family: "Monaspace Argon";
    background-color: #f1f1f1;
    color: #030712;
    border-radius: 0.25rem;
    padding: 0.2rem 0.6rem;
    font-size: 0.75rem;
    font-weight: 900;
  }

  @media (min-width: 640px) {
    footer {
      padding: 2rem 4rem;
      text-align: center;
      display: block;
    }
  }

  @media print {
    ninja-keys,
    .no-print {
      display: none !important;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
