---
const { title } = Astro.props
---

<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  h2 {
    font-weight: 700;
    font-size: 24px;
    color: #000;
  }
</style>
