---
const startYear = 2023;
const currentYear = new Date().getFullYear();

const yearsOfExperience = currentYear - startYear;
---

<span>+{yearsOfExperience}</span>

<style>
  span {
    font-weight: 600;
    font-family: "Monaspace Argon";
    font-size: 15px;
  }
</style>
