---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link
			rel="preload"
			href="/fonts/monaspace/NeonVarVF.ttf"
			as="font"
			type="font/ttf"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="/fonts/monaspace/ArgonVarVF.ttf"
			as="font"
			type="font/ttf"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="/fonts/geist/VF.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "Geist";
		src:
			url("/fonts/geist/VF.ttf") format("truetype"),
			url("/fonts/geist/VF.woff2") format("woff2 variations"),
			url("/fonts/geist/VF.woff") format("woff");
		font-weight: 100 900;
		font-stretch: 50% 200%;
		font-display: swap;
		font-style: normal;
	}

	@font-face {
		font-family: "Monaspace Neon";
		src: url("/fonts/monaspace/NeonVarVF.ttf") format("truetype");
		font-weight: 100 900;
		font-stretch: 50% 200%;
		font-display: swap;
		font-style: normal;
	}

	@font-face {
		font-family: "Monaspace Argon";
		src: url("/fonts/monaspace/ArgonVarVF.ttf") format("truetype");
		font-weight: 100 900;
		font-stretch: 50% 200%;
		font-display: swap;
		font-style: normal;
	}

	html {
		font-family: "Monaspace Neon", monospace;
	}

	* {
		min-width: 0;
		font: inherit;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	img,
	figure,
	video,
	svg {
		display: block;
		height: auto;
		max-width: 100%;
	}

	body {
		margin: 0;
		min-height: 100dvh;
		min-height: 100vh;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		font-family: "Geist", sans-serif;
		text-wrap: balance;
	}

	p {
		text-wrap: pretty;
		line-height: normal;
		margin: 0;
	}

	a {
		text-decoration: none;
	}

	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
</style>
